{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": ".",
    "experimental": {
      "keepImportAssertions": true
    },
    "parser": {
      "syntax": "typescript",
      "decorators": true,
    },
     "paths": {
            "@/*": [
                "./src/*"
            ]
    },
    "target": "esnext",
    "transform": {
    			"legacyDecorator": true,
    			"decoratorMetadata": true
    		}
  },
  "module": {
    "type": "es6"
  },
  "minify": true
}